@model ParameterViewModel
@{
   var warning = Model.Parameter.Required && (string.IsNullOrEmpty(Context.Request.Query[Model.Parameter.Name].ToString()) || Context.Request.Query[Model.Parameter.Name].ToString() == "*");
}
<div class="col-sm-auto @(warning ? "has-warning" : string.Empty)" title="@(warning ? Model.Parameter.Label + " is required." : string.Empty)" required="@Model.Parameter.Required" style="padding: 0px 5px 5px 0px;">
   <label class="sr-only form-label" for="@Model.Parameter.Name">@Model.Parameter.Label</label>
   <div class="input-group input-group-sm">
      <span class="input-group-text">@Model.Parameter.Label</span>
      @Html.Partial("Parameter", Model)
   </div>
</div>

