@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OrchardCore.Users.ViewModels.ChangePasswordViewModel

@{
    ViewLayout = "Layout__Login";
}
@*
<form asp-controller="Account" asp-action="ChangePassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" class="no-multisubmit">
    <h4>@T["Change password"]</h4>
    <hr />
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="CurrentPassword" class="col-md-4 control-label">@T["Current password"]</label>
        <div class="col-md-8">
            <input asp-for="CurrentPassword" class="form-control" autofocus />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="col-md-4 control-label">@T["New password"]</label>
        <div class="col-md-8">
            <input asp-for="Password" class="form-control" />
            <div id="passwordStrength"></div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="PasswordConfirmation" class="col-md-4 control-label">@T["New password confirmation"]</label>
        <div class="col-md-8">
            <input asp-for="PasswordConfirmation" class="form-control" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-primary">@T["Change password"]</button>
        </div>
    </div>
</form>
*@
<!-- vben -->
<div class="flex w-full h-full py-5 xl:h-auto xl:py-0 xl:my-0 xl:w-6/12">

    <div class="vben-login-form relative w-full px-5 py-8 mx-auto my-auto rounded-md shadow-md xl:ml-16 xl:bg-transparent sm:px-8 xl:p-4 xl:shadow-none sm:w-3/4 lg:w-2/4 xl:w-auto enter-x">

        <h2 class="mb-3 text-2xl font-bold text-center xl:text-3xl enter-x xl:text-left enter-x">重置密码</h2>
        <form asp-controller="Account" asp-action="ChangePassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
              class="ant-form ant-form-horizontal p-4 enter-x">
            <input hidden="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
            <div asp-validation-summary="All"></div>
            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <input asp-for="CurrentPassword"
                                   placeholder="@T["Current password"]"
                                   type="password" class="ant-input ant-input-lg">
                            <span style="color: red" asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div><!---->
                    </div><!----><!---->
                </div>
            </div>
            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <input asp-for="Password" type="password" placeholder="@T["New password"]" class="ant-input ant-input-lg">
                            <span style="color: red" asp-validation-for="Password" class="text-danger"></span>
                        </div><!---->
                    </div><!----><!---->
                </div>
            </div>
            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <input asp-for="PasswordConfirmation" type="password" placeholder="@T["New password confirmation"]" class="ant-input ant-input-lg">
                            <span style="color: red" asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                        </div><!---->
                    </div><!----><!---->
                </div>
            </div>
            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <button type="submit" class="ant-btn ant-btn-primary ant-btn-lg ant-btn-block" type="button">
                                <!----><span>重 置</span>
                            </button>
                            <a class="ant-btn ant-btn-lg ant-btn-block mt-4" href="@ViewData["ReturnUrl"]">
                                <!----><span>返 回</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
