@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OrchardCore.Users.ViewModels.ChangePasswordViewModel
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Identity
@inject Microsoft.Extensions.Options.IOptions<IdentityOptions> IdentityOptions
@{
    ViewLayout = "Layout__Login";

    var options = IdentityOptions.Value;
    var passwordOptions = new HtmlContentBuilder();
    IHtmlContent separator = HtmlString.Empty;
    string passwordRegex = "";

    if (options.Password.RequireNonAlphanumeric)
    {
        passwordOptions.AppendHtml(separator).AppendHtml(T["one non-alphanumeric"]);
        separator = new HtmlString(", ");
        passwordRegex += @"(?=.*[^A-Za-z0-9])";
    }

    if (options.Password.RequireUppercase)
    {
        passwordOptions.AppendHtml(separator).AppendHtml(T["one uppercase"]);
        separator = new HtmlString(", ");
        passwordRegex += @"(?=.*[A-Z])";
    }

    if (options.Password.RequireLowercase)
    {
        passwordOptions.AppendHtml(separator).AppendHtml(T["one lowercase"]);
        separator = T[", "];
        passwordRegex += @"(?=.*[a-z])";
    }

    if (options.Password.RequireDigit)
    {
        passwordOptions.AppendHtml(separator).AppendHtml(T["one digit"]);
        separator = new HtmlString(", ");
        passwordRegex += @"(?=.*[0-9])";
    }

    if (separator != HtmlString.Empty)
    {
        separator = T[" and "];
    }

    passwordOptions.AppendHtml(separator).AppendHtml(T["{0} characters in total", options.Password.RequiredLength]);


    if (options.Password.RequiredUniqueChars > 1)
    {
        passwordOptions.AppendHtml(T[", with {0} unique characters", options.Password.RequiredUniqueChars]);
    }

    var passwordTooltip = T["Password must have at least {0}.", passwordOptions];
}
<!-- vben -->
<div class="flex w-full h-full py-5 xl:h-auto xl:py-0 xl:my-0 xl:w-6/12">

    <div class="vben-login-form relative w-full px-5 py-8 mx-auto my-auto rounded-md shadow-md xl:ml-16 xl:bg-transparent sm:px-8 xl:p-4 xl:shadow-none sm:w-3/4 lg:w-2/4 xl:w-auto enter-x">

        <h2 class="mb-3 text-2xl font-bold text-center xl:text-3xl enter-x xl:text-left enter-x">重置密码</h2>
        <form asp-controller="Account" asp-action="ChangePassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
              class="ant-form ant-form-horizontal p-4 enter-x">
            <input hidden="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]"/>
            <div asp-validation-summary="All"></div>
            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <input asp-for="CurrentPassword"
                                   placeholder="@T["Current password"]"
                                   type="password" class="ant-input ant-input-lg">
                            <span style="color: red" asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div><!---->
                    </div><!----><!---->
                </div>
            </div>

            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <div class="vben-strength-meter relative" size="large" placeholder="密码">
                                <span class="ant-input-password ant-input-password-large ant-input-affix-wrapper ant-input-affix-wrapper-lg" data-v-67ef8994="">
                                    <input asp-for="Password" placeholder="@T["Password"]"
                                           autocomplete="off"
                                           type="password" class="ant-input ant-input-lg">
                                    <span class="ant-input-suffix">
                                        <span role="button" aria-label="close-circle" tabindex="-1" class="anticon anticon-close-circle ant-input-clear-icon ant-input-clear-icon-hidden">
                                            <svg focusable="false" class="" data-icon="close-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896">
                                                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 01-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z"></path>
                                            </svg>
                                        </span>
                                        <span role="img" aria-label="eye-invisible" tabindex="-1" class="anticon anticon-eye-invisible ant-input-password-icon">
                                            <svg focusable="false" class="" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896">
                                                     </svg>
                                        </span>
                                    </span>
                                </span>


                                <div class="vben-strength-meter-bar" data-v-67ef8994="">
                                    <div class="vben-strength-meter-bar--fill" id="passwordStrength" data-score="-1" data-v-67ef8994=""></div>
                                </div>
                            </div>
                        </div><!---->
                    </div><!----><!---->
                      <span id="passwordInvaild" style="display:none" class="ant-form-item-explain ant-form-item-explain-error">
                                                        您输入的密码不符合规则，请重新输入
                                                        <ul>
                                                            <li>密码长度不可小于 @options.Password.RequiredLength 位</li>
                                                            @if (options.Password.RequireUppercase)
                                                            {
                                                                <li>密码必须包含大写字母</li>
                                                            }
                                                            @if (options.Password.RequireLowercase)
                                                            {
                                                                <li>密码必须包含小写字母</li>
                                                            }
                                                            @if (options.Password.RequireDigit)
                                                            {
                                                                <li>密码必须包含数字</li>
                                                            }
                                                            @if (options.Password.RequireNonAlphanumeric)
                                                            {
                                                                <li>密码必须包含特殊字符</li>
                                                            }
                                                        </ul>
                                                    </span>
                    <span asp-validation-for="Password" class="ant-form-item-explain ant-form-item-explain-error"></span>
                </div>
            </div>

            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <span class="ant-input-password ant-input-password-large ant-input-affix-wrapper ant-input-affix-wrapper-lg">
                                <!----><input asp-for="PasswordConfirmation" placeholder="@T["New password confirmation"]" type="password" id="confirmPassword" class="ant-input ant-input-lg">

                                <span class="ant-input-suffix">
                                    <!---->
                                    <span role="img" aria-label="eye-invisible" tabindex="-1" class="anticon anticon-eye-invisible ant-input-password-icon">
                                        <svg focusable="false" class="" data-icon="eye-invisible" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="64 64 896 896">
                                               </svg>
                                    </span>
                                </span>
                            </span>

                        </div><!---->
                    </div><!----><!---->
                     <span asp-validation-for="PasswordConfirmation" class="ant-form-item-explain ant-form-item-explain-error"></span>
                </div>
            </div>
            <div class="ant-row ant-form-item enter-x" style="row-gap: 0px;">
                <!---->
                <div class="ant-col ant-form-item-control">
                    <div class="ant-form-item-control-input">
                        <div class="ant-form-item-control-input-content">
                            <button type="submit" class="ant-btn ant-btn-primary ant-btn-lg ant-btn-block" type="button">
                                <!----><span>重 置</span>
                            </button>
                            <a   class="ant-btn ant-btn-lg ant-btn-block mt-4" href="@(ViewData["ReturnUrl"]??"/")">
                                <!----><span>返 回</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script at="Foot">

        strengthVben({
            passwordSelector: '#@Html.IdFor(x => x.Password)',
            minLength: @(options.Password.RequiredLength),
            upperCase: @(options.Password.RequireUppercase ? "true" : "false"),
            lowerCase: @(options.Password.RequireLowercase ? "true" : "false"),
            numbers: @(options.Password.RequireDigit ? "true" : "false"),
            specialchars: @(options.Password.RequireNonAlphanumeric ? "true" : "false"),
            target: '#passwordStrength',
            passwordInvaild:"#passwordInvaild"
        });

    document.querySelector('form').addEventListener("submit", function (e) {
        if (!document.querySelector('#policy').checked) {
            e.preventDefault();
        }
        document.querySelector("#policyNotify").style.display = document.querySelector('#policy').checked?"none":"block";
    });

</script>
